/* ----------- GERAL ----------- */
body {
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
    margin: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 2px solid #fff;
}

/* ----------- CAIXA DE DIÁLOGO ----------- */
#dialogBox {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 900px;

    padding: 18px;
    background: rgba(0,0,0,0.85);
    border: 3px solid white;
    border-radius: 5px;

    color: white;
    font-size: 18px;
    line-height: 22px;

    text-shadow: 0 0 4px black;
}

.hidden {
    display: none;
}

/* ----------- FADE PRETO ----------- */
#fadeLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    pointer-events: none;
}
